n8n-leadgen-workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-160, 20],
      "id": "d2a93269-003d-4b1f-858c-3036e379eb0c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "882130c0-9a71-4f7f-9968-7b03ef23715b",
              "name": "startIndex",
              "value": 1,
              "type": "number"
            },
            {
              "id": "f808426e-4ddf-49cc-9552-073169fc4306",
              "name": "maxPages",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [60, 20],
      "id": "5bfdd0c5-0a62-4e48-a931-c19ebb73b7e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBBM-YyMWxqvj3JTuKcPbXg-7S7ehBZcoA"
            },
            {
              "name": "cx",
              "value": "e7791c6b855c644a2"
            },
            {
              "name": "q",
              "value": "creative directors bmw site:linkedin.com/in"
            },
            {
              "name": "start",
              "value": "={{ $json.startIndex }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 20],
      "id": "c2c3a3ac-97f4-4105-a22e-639b140b9ca5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Get the response data\nconst response = $input.first().json; // Changed from .json() to .json\nconst items = response.items || [];\n\n// Track pagination info\nlet nextStartIndex = 1;\nif (response.queries && response.queries.nextPage && response.queries.nextPage[0]) {\n    nextStartIndex = response.queries.nextPage[0].startIndex;\n}\n\n// Calculate if we should continue (Google only allows up to 100 results)\nconst hasMoreResults = nextStartIndex <= 100 && items.length > 0;\n\n// Process the items and include pagination info in each item\nconst results = items.map(item => {\n    const titleParts = item.title.split(\"-\");\n    return {\n        name: titleParts[0] || null,\n        title: titleParts.slice(1).join(\"-\") || null,\n        link: item.link || null,\n        snippet: item.snippet || null,\n        image: item.pagemap?.cse_thumbnail?.[0]?.src || null,\n        // Add pagination info to each item\n        startIndex: nextStartIndex,\n        hasMoreResults: hasMoreResults\n    };\n});\n\n// If there are no results, return at least one item with pagination info\nif (results.length === 0) {\n    return [{\n        json: {\n            name: null,\n            title: null,\n            link: null,\n            snippet: null,\n            image: null,\n            startIndex: nextStartIndex,\n            hasMoreResults: false\n        }\n    }];\n}\n\n// Return the processed results\nreturn results.map(r => ({\n    json: r\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 20],
      "id": "105f77ae-3c58-448d-92ac-5d1b6967d84a",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [720, 20],
      "id": "55aae38d-24c0-4871-8086-0f58749ebbad",
      "name": "Wait",
      "webhookId": "a44d272c-097b-4b11-8be8-c980337db67d"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1I_R_b8sNkhSvvZjcVUJr9KQ1LIrN1pZVq2SOdY7Cf_o",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I_R_b8sNkhSvvZjcVUJr9KQ1LIrN1pZVq2SOdY7Cf_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I_R_b8sNkhSvvZjcVUJr9KQ1LIrN1pZVq2SOdY7Cf_o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "title": "={{ $json.title }}",
            "link": "={{ $json.link }}",
            "image": "={{ $json.image }}",
            "snippet": "={{ $json.snippet }}",
            "startIndex": "={{ $json.startIndex }}",
            "hasMoreResults": "={{ $json.hasMoreResults }}"
          },
          "matchingColumns": ["name"],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "startIndex",
              "displayName": "startIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hasMoreResults",
              "displayName": "hasMoreResults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [940, 20],
      "id": "9e95c600-95e7-4685-ae71-fe3b0a7e938d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NnEFwhp7MLKderto",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b36e46e-f4e4-4ff0-80fc-89c1b70d6d75",
              "leftValue": "={{ $json.hasMoreResults }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1160, 20],
      "id": "87c7c9a1-4244-4c8f-aacc-ded4fc4b288c",
      "name": "If"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f67d2e1b7193ae382de0cf4eaeb152615d6fead8458bb42897ec7e17ee2f8499"
  }
}
